:root {
  font-size: 20px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.cursor-pointer {
  cursor: pointer;
}

.clear-button {
  position: relative;
}

.clear-button i {
  position: absolute;
  top: -6px;
  right: 15px;
  font-size: 1.5rem;
}

.favorite-button i {
  font-size: 2rem;
  transform: translate(0, 14px);
  color: #f0c21c;
}
